# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.fvmrc

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio related
.vscode/
**/*.suo
**/*.user
**/*.sln

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# FVM
.fvm/
